.container {
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    text-align: center;
    margin: 0;
  }

  p {
    text-align: justify;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px; /* Mai puțin padding */
  }

  .container h3 {
    font-size: 1.2rem; /* Dimensiune titlu mai mică */
  }

  .container p {
    font-size: 0.9rem; /* Reducere text pentru ecrane mici */
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    padding: 5px;
    gap: 10px; /* Spațiere mai mică între elemente */
  }

  .container h3 {
    font-size: 1.2rem; /* Diminuare titlu */
  }

  .container p {
    font-size: 1rem; /* Text mic pentru ecrane foarte mici */
  }
}
