.header-oa {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  padding: 0 20px;
  position: sticky; /* Poziție sticky */
  top: 0; /* Rămâne lipit de partea de sus a paginii */
  z-index: 100; /* Se asigură că header-ul este peste alte elemente */
}

.button-oa {
  font-size: 15px;
  margin: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  color: white;
}

.button-oa-active {
  font-size: 15px;
  margin: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  color: gray;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 20px;
  }

  .menu.open {
    display: flex;
    z-index: 100;
  }

  .button-oa {
    margin: 10px 0;
  }

  .menu-toggle {
    display: flex;
  }
}
