.homePage-oa {
  min-height: 100vh; /* Asigură că ocupă întreaga înălțime a ecranului */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Permite derularea pe axa verticală */
  background: url("./jsPhoto.jpg") center/cover no-repeat;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .homePage-oa {
    padding: 0 1px; /* Adaugă puțin padding pe mobil pentru a nu se atinge marginile */
  }
}
