/* Dimensiuni implicite pentru iconițe */
.skill-meter {
  width: 60px; /* Lățimea iconiței */
  margin: 20px;
}

.skill-meter h3 {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

/* Media Queries pentru rezoluții mai mici */
@media (max-width: 768px) {
  .skill-meter {
    width: 50px; /* Iconițe mai mici pe ecrane medii */
  }

  .skill-meter h3 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .skill-meter {
    width: 40px; /* Iconițe și mai mici pe ecrane mici */
  }

  .skill-meter h3 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
  }
}
