.aboutMe {
  display: flex;
  flex-direction: row; /* Elemente aliniate orizontal */
  justify-content: center;
  align-items: center;

  .avatar-oa {
    padding: 20px;
  }

  .container-aboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;

    .wrapper-aboutMe-oa {
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      justify-content: center;
      gap: 100px;

      .card-aboutMe {
        .cards-oa {
          height: 200px;
          width: 600px;

          h3 {
            margin: 0;
          }

          p {
            text-align: justify;
          }
        }
      }
    }

    .skillMeterWrapper {
      width: 500px;

      .skillMeterContainer {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
